@mixin respond-to-specific($width){
  @media only screen and (max-width: $width) {
    @content
  }
}

@mixin bottom-shadow() {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

$forai-color: #3B325D;
$link-color: #226899;
$grey-color: #757575;

html {
  background-color: #fafafa;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.clear{
  clear: both;
}

a {
  text-decoration: none;
  color: $link-color;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
  &:hover {
    color: #cccccc !important;
  }
  &:visited {
    color: $link-color;
  }
}

p {
  word-break: break-word;
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  font-weight: 500;
  font-size: 1.6em;
}

h2 {
  font-weight: 500;
  font-size: 1.2em;
}

#header {
  width: 100%;
  font-weight: 500;
  font-size: 1em;
  margin: 1.5em 0 0;
  @include respond-to-specific(769px) {
    font-size: 1.8em;
  }
  #navbar {
    width: 1000px;
    margin: 0 auto;
    @include respond-to-specific(1144px){
      width: 80%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
    li {
      a {
        color: #333333;
      }
      padding: 5px 15px;
      float: left;
      @include respond-to-specific(600px) {
        font-size: 0.5em;
      }
    }
  }
}


#page{
  padding-top: 100px;
  display: block;

  .container-block{
    padding: 30px;
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto 3em;
    @include respond-to-specific(1144px){
      width: 80%;
    }
    h1 {
      margin: 0 0 0.2em 0;
    }
    @include respond-to-specific(450px){
      margin-bottom: 2em;
    }
    .subtitle {
      margin: -2mm 0 2mm;
    }
  }

  #intro-sect-container{
    position: fixed;
    z-index: -1;
    width: 100%;
  }
  #intro-sect{
    margin: 0 auto;
    background-color: transparent;;
    #intro-graph{
      path{
        stroke: #000;
        stroke-width: 0.1;
        stroke: rgba(0,0,0,0.2);
        &:hover{
          stroke-width: 1;
          stroke: rgba(255, 255, 255, 1);
        }
      }

      svg{
        width: 100%;
        height: 100%;
      }
      background-color: transparent;
      width: 900px;
      float: right;
      height: 800px;
      @include respond-to-specific(450px){
        height: 600px;
      }
    }
  }

  .title-sect{
    margin: 0 auto;
    .intro-header{
      #title-logo{
        width: 300px;
      }
      background-color: transparent;
      .subtitle {
        margin-top: 15px;
        font-size: 1.2em;
        color: #3B325D;
      }
      @include respond-to-specific(450px) {
        top: 10%;
        #title-logo {
          width: 98%;
        }
        .subtitle {
          margin: 0 auto;
          text-align: left;
          font-size: 1.1em;
        }
      }
    }
  }

  .publish-sect {
    #subtitle {
      margin: -0.5em 0 0.5em;
    }
    @include bottom-shadow();
    .publication {
      margin-bottom: 15px;
      h2 {
        margin: 0;
        line-height: 1.5;
      }
      .authors {
        p {
          color: $grey-color;
          line-height: 1.2;
        }
      }
      .conference {
        color: $grey-color;
        p {
          display: inline;
        }
      }
      .desc {
        p {
          padding: 5px 0;
          line-height: 1.2;
        }
      }
    }
  }

  .team-sect {
    margin-top: 400px;
    #team-pics {
      padding-top: 25px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1em;
      @include respond-to-specific(769px) {
        grid-template-columns: auto auto;
      }
      @include respond-to-specific(425px) {
        grid-template-columns: auto;
      }
    }
    @include bottom-shadow();
    .team-wrapper {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      .team-member{
        width: 100%;
        @include respond-to-specific(450px) {
          width: 75%;
          margin: 0 auto;
        }
        .member-image{
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
        .member-name{
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  #contact-top-sect{
    background-color: transparent;
    @include respond-to-specific(450px){
      top: 10%;
      p {
        font-size: 1.2em;
      }
    }
  }

  #contact-sect{
    @include bottom-shadow();
    margin: 0 auto;
    margin-bottom: 50px;
    width: 350px;

    h2 {
      margin: 20px auto;
    }

    #mc_embed_signup{
      text-align: center;
    }

    #mce-EMAIL{
      width: 100%;
      display: block;
      font-size: 1em;
      border: 0;
      outline: 0;
      border-bottom: 1px #333333 solid;
    }

    #mc-embedded-subscribe{
      display: block;
      margin: 20px auto;
      background-color: transparent;
      color: #ffffff;
      background-color: #333333;
      border: 1px #333 solid;
      padding: 10px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 300ms, color 300ms;
      &:hover{
        background-color: #ffffff;
        color: #333333
      }
    }
  }

  .join-sect{
    @include bottom-shadow();
  }

  #blog-sect{
    @include bottom-shadow();
    text-align: center;
    h1{
      font-size: 40px;
      margin: 0 auto;
      margin-bottom:10px;
      font-weight: 800;
    }
    .blog-title{
      font-size: 20px;
    }
  }

  #blog-content-sect{
    line-height: 1.7em;
    font-size: 1.06rem;
    h1{
      font-size: 40px;
      margin: 0 auto;
      text-align: center;
      margin-bottom:10px;
      font-weight: 800;
      @include respond-to-specific(450px){
        font-size: 25px;
      }
    }
    @include bottom-shadow();
    margin-bottom: 15px;
    p{
      margin-bottom: 25px;
    }
    .blog-links{
      text-align: center;
      a{
        margin-right: 15px;
        font-size: 20px;
      }
      margin-bottom: 10px;
    }
  }

  .map-sect {
    @include bottom-shadow();
    #map {
      min-height: 500px;
      margin-top: 0.2em;
    }
  }
}

.footer {
  text-align: center;
  margin: 1em 0;
  span {
    font-size: 0.8em;
    color: $grey-color;
  }
}

#background{
  position:fixed;
  margin: 0 auto;
  width:100%;
  opacity:0.03;
  background-image:url(../img/bg-tile.png);
  background-repeat:repeat;
  background-size:300px;
  z-index:-1;
}
