@import "_reset.min.scss";

$font-stack: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin respond-to-specific($width){
  @media only screen and (max-width: $width){
    @content
  }
}

@mixin bottom-shadow(){
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
html{
  background-color: #fafafa;
}
body{
  background-color: none;
  font-family: $font-stack;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.clear{
  clear: both;
}

a {
  text-decoration: none;
  color: #226899;

  &:hover {
    text-decoration: none;
    color: #cccccc;
  }

  &:visited {
    color: #226899;
  }
}

#header {
  left: 0;
  right: 100px;
  font-weight: 700;
  margin-top: 45px;
  position: absolute;
  padding-left: 30px;
  padding-right: 15px;
  display: block;
  @include respond-to-specific(1050px){
    padding-left: 15px;
    padding-right: 15px;
  }

  @include respond-to-specific(769px){
    right: 10px;
    position: fixed;
    padding-bottom: 15px;
  }

  background-color: transparent;
  border: 0;
  font-size: 16px;

  #mmenu-button, #mmenu-closer {
    display: none;
    @include respond-to-specific(600px){    
      display: none;
      border: 0;
      color: #ffffff;
      position: relative;
      float: right;
      margin-top: 25px;
      margin-bottom: 10px;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #ffffff;
      border-radius: 4px;
      padding: 0;
    }
  }

  #options{
    display: block;
    @include respond-to-specific(600px){
      display: block;
    }
  }

  #mmenu-closer{
    margin-right: 19px;
    margin-top: 25px;
  }

  #mmenu{
    top:0;
    right:0;
    height:100%;
    width:100%;
    position: fixed;
    z-index: 100;
    display: none;
    color: #333333;
    #moptions{
      margin-top: 50px;
      font-size: 24px;

    }
  }


  ul {
    @include respond-to-specific(769px){
      margin-top: 20px;
    }
    float: right;
    li {
      a:hover {
        color: #cccccc;
      }

      a {
        color: #333333;
      }

      a:active {
        color: #e0e0e0;
      }
      padding: 5px 20px;
      float: left;
      @include respond-to-specific(600px){
        float: none;
      }
    }
  }
}


#page{
  padding-top: 100px;
  display: block;
  font-size: 18px;
  @include respond-to-specific(769px){
    font-size: 14px;
  }
  h1{
    font-size: 3em;
  }

  .container-block{
    padding: 30px;
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    @include respond-to-specific(1024px){
      width: 80%;
    }
    h1{
      font-size: 3em;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p{
      line-height: 1.6;
      font-size: 1em;
      @include respond-to-specific(769px){
        font-size: 1em;
      }
    }

    margin-bottom: 100px;
    @include respond-to-specific(450px){
      margin-bottom: 30px;
    }
  }
  
  #intro-sect-container{
    position: fixed;
    z-index: -1;
    width: 100%;
  }
  #intro-sect{
    margin: 0 auto;
    background-color: #fafafa;
    #intro-graph{
      path{
        stroke: #000;
        stroke-width: 0.1;
        stroke: rgba(0,0,0,0.2);
        &:hover{
          stroke-width: 1;
          stroke: rgba(255, 255, 255, 1);
        }
      }

      svg{
        width: 100%;
        height: 100%;
      }

      background-color: transparent;
      width: 900px;
      float: right;
      height: 800px;
      @include respond-to-specific(450px){
        height: 600px;
      }
    }
  }

  #title-sect{
    margin: 0 auto;
    #intro-header{
      h1{
        font-size: 6em;
        font-weight: 700;
      }
      background-color: transparent;
      @include respond-to-specific(450px){
        top: 10%;
        p{
          font-size: 1.2em;
        }
        h1{
          font-size: 5em;
        }
      }
    }
  }
  
  #team-sect{
    margin-top: 400px;
    #team-pics{
      padding-top: 50px;
    }
    @include bottom-shadow();
    .team-member{
      width: 18%;
      padding: 1%;
      float: left;
      height: 250px;
      @include respond-to-specific(450px){
        float: none;
        margin: 0 auto;

      }
      @include respond-to-specific(769px){
        width: 150px;
      }

      .member-image{
        img{
          width: 100%;
          border-radius: 50%;
        }
      }

      .member-name{
        text-align: center;
        font-weight: 700; 
        margin-top: 10px; 
        margin-bottom: 10px; 
      }
    }
  }

  #contact-top-sect{
    h1{
      font-size: 6em;
      font-weight: 700;
    }
    background-color: transparent;
    @include respond-to-specific(450px){
      top: 10%;
      p{
        font-size: 1.2em;
      }
      h1{
        font-size: 5em;
      }
    }
  }

  #contact-sect{
    @include bottom-shadow();
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #join-sect{
    @include bottom-shadow();
  }

  #blog-sect{
    @include bottom-shadow();
  }
  
}
