html {
  background-color: #fafafa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: #226899;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
a:hover {
  color: #cccccc !important;
}
a:visited {
  color: #226899;
}

p {
  word-break: break-word;
  line-height: 1.5;
  margin: 0;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  font-weight: 500;
  font-size: 1.6em;
}

h2 {
  font-weight: 500;
  font-size: 1.2em;
}

#header {
  width: 100%;
  font-weight: 500;
  font-size: 1em;
  margin: 1.5em 0 0;
}
@media only screen and (max-width: 769px) {
  #header {
    font-size: 1.8em;
  }
}
#header #navbar {
  width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 1144px) {
  #header #navbar {
    width: 80%;
  }
}
#header ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
}
#header ul li {
  padding: 5px 15px;
  float: left;
}
#header ul li a {
  color: #333333;
}
@media only screen and (max-width: 600px) {
  #header ul li {
    font-size: 0.5em;
  }
}

#page {
  padding-top: 100px;
  display: block;
}
#page .container-block {
  padding: 30px;
  width: 1000px;
  background-color: #ffffff;
  margin: 0 auto 3em;
}
@media only screen and (max-width: 1144px) {
  #page .container-block {
    width: 80%;
  }
}
#page .container-block h1 {
  margin: 0 0 0.2em 0;
}
@media only screen and (max-width: 450px) {
  #page .container-block {
    margin-bottom: 2em;
  }
}
#page #intro-sect-container {
  position: fixed;
  z-index: -1;
  width: 100%;
}
#page #intro-sect {
  margin: 0 auto;
  background-color: #fafafa;
}
#page #intro-sect #intro-graph {
  background-color: transparent;
  width: 900px;
  float: right;
  height: 800px;
}
#page #intro-sect #intro-graph path {
  stroke: #000;
  stroke-width: 0.1;
  stroke: rgba(0, 0, 0, 0.2);
}
#page #intro-sect #intro-graph path:hover {
  stroke-width: 1;
  stroke: white;
}
#page #intro-sect #intro-graph svg {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 450px) {
  #page #intro-sect #intro-graph {
    height: 600px;
  }
}
#page .title-sect {
  margin: 0 auto;
}
#page .title-sect .intro-header {
  background-color: transparent;
}
#page .title-sect .intro-header #title-logo {
  width: 300px;
}
#page .title-sect .intro-header .subtitle {
  margin-top: 15px;
  font-size: 1.2em;
  color: #3B325D;
}
@media only screen and (max-width: 450px) {
  #page .title-sect .intro-header {
    top: 10%;
  }
  #page .title-sect .intro-header #title-logo {
    width: 98%;
  }
  #page .title-sect .intro-header .subtitle {
    margin: 0 auto;
    text-align: left;
    font-size: 1.1em;
  }
}
#page .publish-sect {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#page .publish-sect .publication {
  margin-bottom: 15px;
}
#page .publish-sect .publication h2 {
  margin: 0;
  line-height: 1.5;
}
#page .publish-sect .publication .authors p {
  color: #757575;
  line-height: 1.2;
}
#page .publish-sect .publication .conference {
  color: #757575;
}
#page .publish-sect .publication .conference p {
  display: inline;
}
#page .publish-sect .publication .desc p {
  padding: 5px 0;
  line-height: 1.2;
}
#page .team-sect {
  margin-top: 400px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#page .team-sect #team-pics {
  padding-top: 25px;
}
#page .team-sect .team-wrapper {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
#page .team-sect .team-wrapper .team-member {
  width: 18%;
  padding: 1%;
  float: left;
}
@media only screen and (max-width: 769px) {
  #page .team-sect .team-wrapper .team-member {
    float: none;
    width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 450px) {
  #page .team-sect .team-wrapper .team-member {
    float: none;
    width: 75%;
    margin: 0 auto;
  }
}
#page .team-sect .team-wrapper .team-member .member-image img {
  width: 100%;
  border-radius: 50%;
}
#page .team-sect .team-wrapper .team-member .member-name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#page #contact-top-sect {
  background-color: transparent;
}
@media only screen and (max-width: 450px) {
  #page #contact-top-sect {
    top: 10%;
  }
  #page #contact-top-sect p {
    font-size: 1.2em;
  }
}
#page #contact-sect {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  margin-bottom: 50px;
  width: 350px;
}
#page #contact-sect h2 {
  margin: 20px auto;
}
#page #contact-sect #mc_embed_signup {
  text-align: center;
}
#page #contact-sect #mce-EMAIL {
  width: 100%;
  display: block;
  font-size: 1em;
  border: 0;
  outline: 0;
  border-bottom: 1px #333333 solid;
}
#page #contact-sect #mc-embedded-subscribe {
  display: block;
  margin: 20px auto;
  background-color: transparent;
  color: #ffffff;
  background-color: #333333;
  border: 1px #333 solid;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 300ms, color 300ms;
}
#page #contact-sect #mc-embedded-subscribe:hover {
  background-color: #ffffff;
  color: #333333;
}
#page .join-sect {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#page #blog-sect {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}
#page #blog-sect h1 {
  font-size: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 800;
}
#page #blog-sect .blog-title {
  font-size: 20px;
}
#page #blog-content-sect {
  line-height: 1.7em;
  font-size: 1.06rem;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
}
#page #blog-content-sect h1 {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
}
@media only screen and (max-width: 450px) {
  #page #blog-content-sect h1 {
    font-size: 25px;
  }
}
#page #blog-content-sect p {
  margin-bottom: 25px;
}
#page #blog-content-sect .blog-links {
  text-align: center;
  margin-bottom: 10px;
}
#page #blog-content-sect .blog-links a {
  margin-right: 15px;
  font-size: 20px;
}
#page .map-sect {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#page .map-sect #map {
  min-height: 500px;
  margin-top: 0.2em;
}

.footer {
  text-align: center;
  margin: 1em 0;
}
.footer span {
  font-size: 0.8em;
  color: #757575;
}

/*# sourceMappingURL=style.css.map */
