<meta property="og:title" content="Targeted Dropout" />
<meta property="og:description" content="
	Neural networks can represent functions to solve complex tasks that are  difficult if not 
	impossible to write instructions for by hand, such as understanding language and
    recognizing objects. Conveniently, we’ve seen that task performance increases
    as we use larger networks. However, the increase in computational costs also increases
    dollars and time required to train and use models. Practitioners are plagued with networks
    that are too large to store in on-device memory, or too slow for real-world utility." />
<meta property="og:image" content="https://for.ai/img/targeted-dropout/comtx1.png" />
{{partial "header.html" .}}
<div id="blog-content-sect" class="container-block">
    <h1>{{ .Title }}</h1>
    <div>{{ .Content  }}</div>
</div>
{{partial "footer.html" .}}
