<nav class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="navbar-header">
      <a class="navbar-brand navbar-left" id="logo" href="/"></a>
      <button id="mmenu-button"  aria-controls="navbar" aria-expanded="false">
        <div class="closer-icon"><img src="/img/mobile-nav.svg" alt="toggle navigation"></div>
      </button>
  </div>
    <div id="navbar">
    <ul id="options">
        <li id="contact-header"><a href="/contact">CONTACT</a></li>
        <div class="clear"></div>
    </ul>
  </div>
  <div id="mmenu">
    <button id="mmenu-closer"  aria-controls="navbar" aria-expanded="false">
      <div class="closer-icon"><img src="/img/mobile-x.svg" alt="menu close button"></div>
    </button>
    <ul id="moptions">
        <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
</nav>