{{partial "header.html" .}}
<div id="title-sect">
  <div id="intro-header" class="container-block">
    <img id="title-logo" src="/img/text-logo-color.svg" alt="FOR.ai">
    <div class="subtitle">Distributed AI Research Collaboration</div>
  </div>
</div>
<div id="team-sect" class="container-block">
  <h1>About Us</h1>
  <p>
    We are a multi-disciplinary team of scientists and engineers who like doing research for fun. Our only objective is to publish
    good AI research that is useful and interesting. Our collaborators include researchers from labs like Google Brain and
    Vector Institute.
  </p>
  <p>
    Our published experiments and tools can be found on our <a href="https://github.com/for-ai/">Github</a>
  </p>
  <div class="team-wrapper">
    <div id="team-pics">
      {{range sort .Site.Params.team "order" "asc" }}
      <div class="team-member">
        <a rel="noopener noreferrer" href="{{.link}}">
          <div class="member-image"><img src="{{.img}}" alt=""></div>
          <div class="member-name">{{.title}}</div>
        </a>
      </div>
      {{end}}
      <div class="clear"></div>
      <span class="emails">
        { {{range $i, $e := where .Site.Pages "Section" "team"}}{{if not (eq $e.File.BaseFileName "")}}{{ if $i }}, {{ end }}
        <a href="mailto:{{$e.File.TranslationBaseName}}@for.ai">{{$e.File.TranslationBaseName}}</a>{{end}}{{end}} }
        <span>&commat;for.ai</span>
      </span>
    </div>
  </div>
</div>
<div id="publish-sect" class="container-block">
  <h1>Publications</h1>
  {{range where .Site.Pages "Section" "publications"}} {{ .Render "li"}} {{end}}
</div>
<div id="join-sect" class="container-block">
  <h1>Join The Team!</h1>
  <p>
    We're looking for individuals interested in contributing to cross-institutional research projects on machine learning using
    neural networks. We recruit students and industrial members globally. Our only requirement is a strong background in
    computer science, mathematics and statistics. Remote work is our modus operandi, although we regularly organize working
    sessions in cities with more than one member.
  </p>
  <br>
  <br>
  <p>
    If you're interested in deep learning and neural networks, and are well-versed in calculus, statistics, and software development
    then you're a perfect fit.
  </p>
  <br>
  <br>
  <p>
    The team is volunteer-run, but we do provide mentorship and authorship opportunities, and we have a rich set of resources
    and training infrastructure at our disposal!
  </p>
  <br>
  <br>
  <p>
    Email:
    <a href="mailto:team@for.ai">team@for.ai</a> with your resume and a brief note on your interest in ML and any relevant
    background (courses taken, projects completed, etc.)
  </p>
</div>
<div id="contact-sect" class="container-block">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="https://for.us17.list-manage.com/subscribe/post?u=d95c11b747ea5c6f24b834a1a&amp;id=bde4ea2240" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2 for="mce-EMAIL">Subscribe to our mailing list</h2>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_d95c11b747ea5c6f24b834a1a_bde4ea2240" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
{{partial "footer.html" .}}