{{partial "header.html" .}}
<div id="intro-sect" class="container-block">
    <div id="intro-header">
        <h1>FOR.ai</h1>
        <p>Toronto-based AI Research Team</p>
    </div>
    <div id="intro-graph">
        <svg><g></g></svg>
    </div>
    <div class="clear"></div>
</div>
<div id="about-sect" class="container-block">
    <h1>About Us</h1>
    <p>FOR.ai was founded to drive the field of Artificial Intelligence forward.</p>
</div>
<div id="team-sect" class="container-block">
    <h1>Team</h1>
    <p>We are a like-minded and multi-disciplinary team of scientists and engineers.</p>
</div>
{{partial "footer.html" .}}